
  .saveforlater,
  .remove {
    color: aliceblue;
    background: linear-gradient(to right, rgb(232, 105, 173), rgb(150, 150, 226));
    padding: 10px;
    text-decoration: none;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 5px;
    font-size: 15px;
  }
  .remove{
    background: linear-gradient(to right, rgb(150, 150, 226),  rgb(232, 105, 173));
  }
  .padtop{
    padding-top: 35px;

  }
  .fixedit{
    position: fixed;
  }